<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Főoldal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body> 
<style>
    body {
         display: block;
          margin: auto;
    }
</style>
    <form method="get">
        <input type="text" name="szem_szin">
        <input type="submit" value="Search">
    </form>
    <br>
    <table>
        <tr>
            <th>Szem szín:</th>
            <th>Súly:</th>
        </tr>
        <% for (let m of macskak){ %>
            <tr>
                <td>
                    <%= m.szem_szin %>              
                </td>
                <td>
                    <%= m.suly %>
                </td>
            </tr>
        <% }; %>
    </table>    
    <a href="/cats/new">Hozzon létre új macskát:</a>
    <br>
    <a href="/">Vissza</a>
</body>
</html>